<div style="min-width: 100%; height: 170%; background-image: url('/assets/img/primary.jpg');background-repeat: no-repeat;background-size:cover;">
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <div style="position: absolute; left: 500px;" class="loginButton">
          <a href="http://localhost:8070/#!/devoirs">
          <button id="l" style="position: relative; left:90px; color:ivory" type="submit" class="btn btn-outline-dark">Mon espace</button>
          </a> 
  </div>
</div>